.gallery {
    color: var(--color-white);
    background-color: var(--color-black);
    /* top | right | bottom | left */
    padding: 4.5rem 0 4.5rem 10.4rem;
}

.gallery__container {
    display: flex;
    gap: 6.4rem;
}

.gallery__heading {
    color: var(--color-golden);
    text-transform: capitalize;
    font-size: 6.4rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.gallery__paragraph {
    color: var(--color-grey);
    font-family: var(--font-alt);
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}

.gallery__content {
    padding: 8.1rem 0;
}

.gallery__images {
    align-self: center;
    display: flex;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery__images.gallery__images::-webkit-scrollbar {
    display: none;
}

.gallery__image-card {
    position: relative;
    overflow: hidden;
    margin-right: 2rem;
    min-width: 30rem;
    height: 44.7rem;
    border: 1px solid var(--color-golden);
}

.gallery__image-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.gallery__image-card img:hover {
    transform: scale(1.2);
}

.image__icon-box {
    position: absolute;
    display: flex;
    transform: translateY(0);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.image-icon {
    color: var(--color-grey);
    opacity: 1;
    transition: all 0.3s;
}

.gallery__image-card:hover .image__icon-box {
    transform: translateY(-102%);
}

.gallery__image-card:hover .image-icon {
    opacity: 1;
}